body {
  background-color: #343a40;
}
main {
	width: 100%;
	min-height: 100vh;
}
a {
	text-decoration: none;
}
body .bg-success {
    background-color: #343a40;
}
.profile img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.profile h3 {
	font-size: 20px;
	font-weight: 400;
	margin: 20;
}
.social-link a {
	font-size: 22px;
}
.button-link {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-link img {
	width: 54px;
	height: 54px;
	object-fit: cover;
    border-radius: 10px;
}
.button-link p, .badge {
	font-weight: 500;
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

main {	
	max-width: 420px;
}

}
